In [2]:
import numpy as np
import pandas as pd

In [42]:
colname = ['CA1', 'CA2', 'CA3']
sitno = np.arange(1,51)
np.random.seed(45)
score = np.random.randint(1, 11, 150)
score = score.reshape(50,3)
df = pd.DataFrame(data = score, columns=colname, index= sitno)
df

    CA1  CA2  CA3
1     4    1    6
2     4    5   10
3     9    2    6
4    10    7    9
5     8    9    6
6     3    9    2
7     7    5    9
8     5    7    5
9    10    2    7
10    9    9    2
11    7    1    5
12   10    9    1
13   10    3    7
14    8    1    1
15    3   10    3
16    7    1   10
17    7    1    9
18    9    1    7
19    8    9    6
20    2    4    8
21    6   10    4
22    3    8    8
23    5   10   10
24   10   10    8
25    3    8   10
26    5    6    8
27   10    8    7
28    3    8    8
29    7    7    4
30    7    1    8
31    5   10    4
32    6    8    4
33    6    6    8
34    2    1    3
35    2   10    3
36    4   10    7
37    4    7    2
38   10    2    8
39    5    1    3
40    2    2    5
41    3    3    3
42    6    4    7
43    8    6    7
44    6    3    9
45    8    2    3
46    8   10    7
47    5    6    5
48    6    5    2
49    4    8    1
50    6    1    7

In [44]:
# selecting a column
df['CA3']

1      6
2     10
3      6
4      9
5      6
6      2
7      9
8      5
9      7
10     2
11     5
12     1
13     7
14     1
15     3
16    10
17     9
18     7
19     6
20     8
21     4
22     8
23    10
24     8
25    10
26     8
27     7
28     8
29     4
30     8
31     4
32     4
33     8
34     3
35     3
36     7
37     2
38     8
39     3
40     5
41     3
42     7
43     7
44     9
45     3
46     7
47     5
48     2
49     1
50     7
Name: CA3, dtype: int32

In [47]:
# SELECTING MULTIPLE COLUMNS
df[['CA1', 'CA3']]

    CA1  CA3
1     4    6
2     4   10
3     9    6
4    10    9
5     8    6
6     3    2
7     7    9
8     5    5
9    10    7
10    9    2
11    7    5
12   10    1
13   10    7
14    8    1
15    3    3
16    7   10
17    7    9
18    9    7
19    8    6
20    2    8
21    6    4
22    3    8
23    5   10
24   10    8
25    3   10
26    5    8
27   10    7
28    3    8
29    7    4
30    7    8
31    5    4
32    6    4
33    6    8
34    2    3
35    2    3
36    4    7
37    4    2
38   10    8
39    5    3
40    2    5
41    3    3
42    6    7
43    8    7
44    6    9
45    8    3
46    8    7
47    5    5
48    6    2
49    4    1
50    6    7

In [48]:
# SELECTING A ROW/INDEX VIA A SET INDEX
df.loc[5]

CA1    8
CA2    9
CA3    6
Name: 5, dtype: int32

In [50]:
# selecting a row/index via a default index
df.iloc[4]

CA1    8
CA2    9
CA3    6
Name: 5, dtype: int32

In [51]:
# selecting multiple row/index via a set index
df.loc[[5,8,15,25]]

    CA1  CA2  CA3
5     8    9    6
8     5    7    5
15    3   10    3
25    3    8   10

In [53]:
# selecting multiple row/index via a default index
df.iloc[[5-1,8-1,15-1,25-1]]

    CA1  CA2  CA3
5     8    9    6
8     5    7    5
15    3   10    3
25    3    8   10

In [57]:
# INSERTING NEW COLUMN
np.random.seed(45)
df['Exam'] = np.random.randint(25,71,50).reshape(50,1)
df

    CA1  CA2  CA3  Exam
1     4    1    6    36
2     4    5   10    55
3     9    2    6    28
4    10    7    9    57
5     8    9    6    56
6     3    9    2    46
7     7    5    9    60
8     5    7    5    29
9    10    2    7    40
10    9    9    2    26
11    7    1    5    39
12   10    9    1    33
13   10    3    7    48
14    8    1    1    33
15    3   10    3    37
16    7    1   10    59
17    7    1    9    49
18    9    1    7    37
19    8    9    6    42
20    2    4    8    63
21    6   10    4    29
22    3    8    8    55
23    5   10   10    39
24   10   10    8    67
25    3    8   10    61
26    5    6    8    56
27   10    8    7    47
28    3    8    8    61
29    7    7    4    40
30    7    1    8    42
31    5   10    4    31
32    6    8    4    69
33    6    6    8    67
34    2    1    3    36
35    2   10    3    65
36    4   10    7    33
37    4    7    2    38
38   10    2    8    36
39    5    1    3    67
40    2    2    5    41
41    3    3    3    49
42    6    4    7    66
43    8    6    7    56
44    6    3    9    59
45    8    2    3    47
46    8   10    7    64
47    5    6    5    52
48    6    5    2    57
49    4    8    1    41
50    6    1    7    36

In [ ]:
# INSERTING NEW COLUMN AS THE ORIGIN
np.random.seed(45)
age = np.random.randint(14,18,50).reshape(50,1)
df.insert(loc=0, column='Age', value=age)
df

In [63]:
df['Total Score'] = df['CA1'] + df['CA2'] + df['CA3'] + df['Exam']
df

    Age  CA1  CA2  CA3  Exam  Total Score
1    17    4    1    6    36           47
2    16    4    5   10    55           74
3    17    9    2    6    28           45
4    14   10    7    9    57           83
5    14    8    9    6    56           79
6    17    3    9    2    46           60
7    15    7    5    9    60           81
8    15    5    7    5    29           46
9    17   10    2    7    40           59
10   14    9    9    2    26           46
11   15    7    1    5    39           52
12   14   10    9    1    33           53
13   17   10    3    7    48           68
14   15    8    1    1    33           43
15   16    3   10    3    37           53
16   15    7    1   10    59           77
17   15    7    1    9    49           66
18   16    9    1    7    37           54
19   14    8    9    6    42           65
20   17    2    4    8    63           77
21   16    6   10    4    29           49
22   14    3    8    8    55           74
23   15    5   10   10    39           64
24   14   10   10    8    67           95
25   16    3    8   10    61           82
26   14    5    6    8    56           75
27   14   10    8    7    47           72
28   14    3    8    8    61           80
29   15    7    7    4    40           58
30   16    7    1    8    42           58
31   14    5   10    4    31           50
32   16    6    8    4    69           87
33   16    6    6    8    67           87
34   16    2    1    3    36           42
35   14    2   10    3    65           80
36   16    4   10    7    33           54
37   16    4    7    2    38           51
38   14   10    2    8    36           56
39   17    5    1    3    67           76
40   16    2    2    5    41           50
41   14    3    3    3    49           58
42   15    6    4    7    66           83
43   15    8    6    7    56           77
44   17    6    3    9    59           77
45   15    8    2    3    47           60
46   16    8   10    7    64           89
47   14    5    6    5    52           68
48   16    6    5    2    57           70
49   17    4    8    1    41           54
50   14    6    1    7    36           50

In [65]:
def gradesystem (totalscore):
    if totalscore >= 70 and totalscore <= 100:
        return 'A'
    elif totalscore >= 60 and totalscore <= 69.99:
        return 'B'
    elif totalscore >= 50 and totalscore <= 59.99:
        return 'C'
    elif totalscore >= 40 and totalscore <= 49.99:
        return 'D'
    elif totalscore >= 30 and totalscore <= 39.99:
        return 'E'
    else:
        return 'F'
df['GRADE'] = df['Total Score'].apply(gradesystem)
df

    Age  CA1  CA2  CA3  Exam  Total Score GRADE
1    17    4    1    6    36           47     D
2    16    4    5   10    55           74     A
3    17    9    2    6    28           45     D
4    14   10    7    9    57           83     A
5    14    8    9    6    56           79     A
6    17    3    9    2    46           60     B
7    15    7    5    9    60           81     A
8    15    5    7    5    29           46     D
9    17   10    2    7    40           59     C
10   14    9    9    2    26           46     D
11   15    7    1    5    39           52     C
12   14   10    9    1    33           53     C
13   17   10    3    7    48           68     B
14   15    8    1    1    33           43     D
15   16    3   10    3    37           53     C
16   15    7    1   10    59           77     A
17   15    7    1    9    49           66     B
18   16    9    1    7    37           54     C
19   14    8    9    6    42           65     B
20   17    2    4    8    63           77     A
21   16    6   10    4    29           49     D
22   14    3    8    8    55           74     A
23   15    5   10   10    39           64     B
24   14   10   10    8    67           95     A
25   16    3    8   10    61           82     A
26   14    5    6    8    56           75     A
27   14   10    8    7    47           72     A
28   14    3    8    8    61           80     A
29   15    7    7    4    40           58     C
30   16    7    1    8    42           58     C
31   14    5   10    4    31           50     C
32   16    6    8    4    69           87     A
33   16    6    6    8    67           87     A
34   16    2    1    3    36           42     D
35   14    2   10    3    65           80     A
36   16    4   10    7    33           54     C
37   16    4    7    2    38           51     C
38   14   10    2    8    36           56     C
39   17    5    1    3    67           76     A
40   16    2    2    5    41           50     C
41   14    3    3    3    49           58     C
42   15    6    4    7    66           83     A
43   15    8    6    7    56           77     A
44   17    6    3    9    59           77     A
45   15    8    2    3    47           60     B
46   16    8   10    7    64           89     A
47   14    5    6    5    52           68     B
48   16    6    5    2    57           70     A
49   17    4    8    1    41           54     C
50   14    6    1    7    36           50     C

In [74]:
df['exp'] = np.random.randint(14,18,50).reshape(50,1)
df

    Age  CA1  CA2  CA3  Exam  Total Score GRADE  exp
1    17    4    1    6    36           47     D   16
2    16    4    5   10    55           74     A   17
3    17    9    2    6    28           45     D   15
4    14   10    7    9    57           83     A   17
5    14    8    9    6    56           79     A   17
6    17    3    9    2    46           60     B   17
7    15    7    5    9    60           81     A   16
8    15    5    7    5    29           46     D   17
9    17   10    2    7    40           59     C   17
10   14    9    9    2    26           46     D   17
11   15    7    1    5    39           52     C   15
12   14   10    9    1    33           53     C   16
13   17   10    3    7    48           68     B   16
14   15    8    1    1    33           43     D   15
15   16    3   10    3    37           53     C   14
16   15    7    1   10    59           77     A   16
17   15    7    1    9    49           66     B   16
18   16    9    1    7    37           54     C   16
19   14    8    9    6    42           65     B   14
20   17    2    4    8    63           77     A   17
21   16    6   10    4    29           49     D   15
22   14    3    8    8    55           74     A   17
23   15    5   10   10    39           64     B   16
24   14   10   10    8    67           95     A   17
25   16    3    8   10    61           82     A   15
26   14    5    6    8    56           75     A   16
27   14   10    8    7    47           72     A   14
28   14    3    8    8    61           80     A   17
29   15    7    7    4    40           58     C   15
30   16    7    1    8    42           58     C   16
31   14    5   10    4    31           50     C   14
32   16    6    8    4    69           87     A   14
33   16    6    6    8    67           87     A   17
34   16    2    1    3    36           42     D   15
35   14    2   10    3    65           80     A   15
36   16    4   10    7    33           54     C   15
37   16    4    7    2    38           51     C   14
38   14   10    2    8    36           56     C   15
39   17    5    1    3    67           76     A   17
40   16    2    2    5    41           50     C   16
41   14    3    3    3    49           58     C   14
42   15    6    4    7    66           83     A   15
43   15    8    6    7    56           77     A   17
44   17    6    3    9    59           77     A   17
45   15    8    2    3    47           60     B   14
46   16    8   10    7    64           89     A   15
47   14    5    6    5    52           68     B   17
48   16    6    5    2    57           70     A   17
49   17    4    8    1    41           54     C   14
50   14    6    1    7    36           50     C   14

In [77]:
# 0 is for row while 1 is for column
# search for how to eliminate the row
df.drop('exp', axis=1, inplace= True)
df

    Age  CA1  CA2  CA3  Exam  Total Score GRADE
1    17    4    1    6    36           47     D
2    16    4    5   10    55           74     A
3    17    9    2    6    28           45     D
4    14   10    7    9    57           83     A
5    14    8    9    6    56           79     A
6    17    3    9    2    46           60     B
7    15    7    5    9    60           81     A
8    15    5    7    5    29           46     D
9    17   10    2    7    40           59     C
10   14    9    9    2    26           46     D
11   15    7    1    5    39           52     C
12   14   10    9    1    33           53     C
13   17   10    3    7    48           68     B
14   15    8    1    1    33           43     D
15   16    3   10    3    37           53     C
16   15    7    1   10    59           77     A
17   15    7    1    9    49           66     B
18   16    9    1    7    37           54     C
19   14    8    9    6    42           65     B
20   17    2    4    8    63           77     A
21   16    6   10    4    29           49     D
22   14    3    8    8    55           74     A
23   15    5   10   10    39           64     B
24   14   10   10    8    67           95     A
25   16    3    8   10    61           82     A
26   14    5    6    8    56           75     A
27   14   10    8    7    47           72     A
28   14    3    8    8    61           80     A
29   15    7    7    4    40           58     C
30   16    7    1    8    42           58     C
31   14    5   10    4    31           50     C
32   16    6    8    4    69           87     A
33   16    6    6    8    67           87     A
34   16    2    1    3    36           42     D
35   14    2   10    3    65           80     A
36   16    4   10    7    33           54     C
37   16    4    7    2    38           51     C
38   14   10    2    8    36           56     C
39   17    5    1    3    67           76     A
40   16    2    2    5    41           50     C
41   14    3    3    3    49           58     C
42   15    6    4    7    66           83     A
43   15    8    6    7    56           77     A
44   17    6    3    9    59           77     A
45   15    8    2    3    47           60     B
46   16    8   10    7    64           89     A
47   14    5    6    5    52           68     B
48   16    6    5    2    57           70     A
49   17    4    8    1    41           54     C
50   14    6    1    7    36           50     C

In [78]:
df.columns

Index(['Age', 'CA1', 'CA2', 'CA3', 'Exam', 'Total Score', 'GRADE'], dtype='object')

In [81]:
df.rename({'Age': 'AGE', 'CA1':'FIRST CA', 'CA2':'SECOND CA', 'CA3': 'THIRD CA', 'Exam': 'EXAMS SCORES', 'Total Score': 'TOTAL SCORE'}, axis=1, inplace=True)
df

    AGE  FIRST CA  SECOND CA  THIRD CA  EXAMS SCORES  TOTAL SCORE GRADE
1    17         4          1         6            36           47     D
2    16         4          5        10            55           74     A
3    17         9          2         6            28           45     D
4    14        10          7         9            57           83     A
5    14         8          9         6            56           79     A
6    17         3          9         2            46           60     B
7    15         7          5         9            60           81     A
8    15         5          7         5            29           46     D
9    17        10          2         7            40           59     C
10   14         9          9         2            26           46     D
11   15         7          1         5            39           52     C
12   14        10          9         1            33           53     C
13   17        10          3         7            48           68     B
14   15         8          1         1            33           43     D
15   16         3         10         3            37           53     C
16   15         7          1        10            59           77     A
17   15         7          1         9            49           66     B
18   16         9          1         7            37           54     C
19   14         8          9         6            42           65     B
20   17         2          4         8            63           77     A
21   16         6         10         4            29           49     D
22   14         3          8         8            55           74     A
23   15         5         10        10            39           64     B
24   14        10         10         8            67           95     A
25   16         3          8        10            61           82     A
26   14         5          6         8            56           75     A
27   14        10          8         7            47           72     A
28   14         3          8         8            61           80     A
29   15         7          7         4            40           58     C
30   16         7          1         8            42           58     C
31   14         5         10         4            31           50     C
32   16         6          8         4            69           87     A
33   16         6          6         8            67           87     A
34   16         2          1         3            36           42     D
35   14         2         10         3            65           80     A
36   16         4         10         7            33           54     C
37   16         4          7         2            38           51     C
38   14        10          2         8            36           56     C
39   17         5          1         3            67           76     A
40   16         2          2         5            41           50     C
41   14         3          3         3            49           58     C
42   15         6          4         7            66           83     A
43   15         8          6         7            56           77     A
44   17         6          3         9            59           77     A
45   15         8          2         3            47           60     B
46   16         8         10         7            64           89     A
47   14         5          6         5            52           68     B
48   16         6          5         2            57           70     A
49   17         4          8         1            41           54     C
50   14         6          1         7            36           50     C

In [82]:
df.shape

(50, 7)

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 50
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AGE           50 non-null     int32
 1   FIRST CA      50 non-null     int32
 2   SECOND CA     50 non-null     int32
 3   THIRD CA      50 non-null     int32
 4   EXAMS SCORES  50 non-null     int32
 5   TOTAL SCORE   50 non-null     int32
 6   GRADE         50 non-null     object
dtypes: int32(6), object(1)
memory usage: 4.0+ KB

In [85]:
df.head()

   AGE  FIRST CA  SECOND CA  THIRD CA  EXAMS SCORES  TOTAL SCORE GRADE
1   17         4          1         6            36           47     D
2   16         4          5        10            55           74     A
3   17         9          2         6            28           45     D
4   14        10          7         9            57           83     A
5   14         8          9         6            56           79     A

In [86]:
df.tail()

    AGE  FIRST CA  SECOND CA  THIRD CA  EXAMS SCORES  TOTAL SCORE GRADE
46   16         8         10         7            64           89     A
47   14         5          6         5            52           68     B
48   16         6          5         2            57           70     A
49   17         4          8         1            41           54     C
50   14         6          1         7            36           50     C

In [87]:
# to check the range of value
df['AGE'].unique()

array([17, 16, 14, 15], dtype=int32)

In [88]:
# To check the range amount
df['AGE'].nunique()

4

In [89]:
# To check the occurance
df['AGE'].value_counts()

AGE
14    16
16    14
15    11
17     9
Name: count, dtype: int64

In [90]:
df.describe()

             AGE   FIRST CA  SECOND CA   THIRD CA  EXAMS SCORES  TOTAL SCORE
count  50.000000  50.000000  50.000000  50.000000     50.000000    50.000000
mean   15.320000   6.100000   5.540000   5.840000     47.600000    65.080000
std     1.114652   2.525381   3.375845   2.682977     12.582787    14.325431
min    14.000000   2.000000   1.000000   1.000000     26.000000    42.000000
25%    14.000000   4.000000   2.000000   3.250000     37.000000    53.000000
50%    15.000000   6.000000   6.000000   6.500000     47.000000    64.500000
75%    16.000000   8.000000   8.750000   8.000000     58.500000    77.000000
max    17.000000  10.000000  10.000000  10.000000     69.000000    95.000000