In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('exchange23102024.csv')
df.head()

,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate
10/21/2024,CFA,2024,October,2.7121,2.7221,2.7321,NaN
10/21/2024,YUAN/RENMINBI,2024,October,230.4774,230.5477,230.6180,NaN
10/21/2024,DANISH KRONA,2024,October,238.5293,238.6020,238.6748,NaN
10/21/2024,EURO,2024,October,1779.1757,1779.7184,1780.2610,NaN
10/21/2024,YEN,2024,October,10.9311,10.9345,10.9378,NaN

In [5]:
df.reset_index(inplace=True)
df.head()

,index,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate
0,10/21/2024,CFA,2024,October,2.7121,2.7221,2.7321,NaN
1,10/21/2024,YUAN/RENMINBI,2024,October,230.4774,230.5477,230.6180,NaN
2,10/21/2024,DANISH KRONA,2024,October,238.5293,238.6020,238.6748,NaN
3,10/21/2024,EURO,2024,October,1779.1757,1779.7184,1780.2610,NaN
4,10/21/2024,YEN,2024,October,10.9311,10.9345,10.9378,NaN

In [6]:
df.rename({'index':'Rate Date', 'Rate Date':'Currency', 'Currency':'Rate Year', 'Rate Year':'Rate Month', 'Rate Month':'Buying Rate','Buying Rate':'Central Rate', 'Central Rate':'Selling Rate', 'Selling Rate':'Unknown'}, axis = 1, inplace =True)
df.head()

,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate,Unknown
0,10/21/2024,CFA,2024,October,2.7121,2.7221,2.7321,NaN
1,10/21/2024,YUAN/RENMINBI,2024,October,230.4774,230.5477,230.6180,NaN
2,10/21/2024,DANISH KRONA,2024,October,238.5293,238.6020,238.6748,NaN
3,10/21/2024,EURO,2024,October,1779.1757,1779.7184,1780.2610,NaN
4,10/21/2024,YEN,2024,October,10.9311,10.9345,10.9378,NaN

In [7]:
df.drop('Unknown', axis = 1, inplace =True)
df.head()

,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate
0,10/21/2024,CFA,2024,October,2.7121,2.7221,2.7321
1,10/21/2024,YUAN/RENMINBI,2024,October,230.4774,230.5477,230.6180
2,10/21/2024,DANISH KRONA,2024,October,238.5293,238.6020,238.6748
3,10/21/2024,EURO,2024,October,1779.1757,1779.7184,1780.2610
4,10/21/2024,YEN,2024,October,10.9311,10.9345,10.9378

In [8]:
df.groupby('Currency').apply('mean',numeric_only =True)

                      Rate Year  Buying Rate  Central Rate  Selling Rate
Currency
CFA                 2012.861721     1.056433      1.050599      1.346962
CFA                 2012.000000     0.273850      0.283850      0.293850
DANISH KRONA        2018.198050    58.716175     58.795048     59.044789
DANISH KRONER       2009.925824   206.973934    320.593541    434.213102
EURO                2012.875358   312.787439    448.637129    766.355049
EURO\t              2012.000000   192.491000    193.112500    193.734000
EURO                2012.000000   191.887000    192.506600    193.126100
JAPANESE YEN        2012.000000     1.952600      1.958900      1.965200
NAIRA               2009.750000    85.152500     85.451850     85.751188
POESO               2006.000000   176.156267    176.820967    177.485633
POUND STERLING      2012.000000   244.918360    245.709460    246.500520
POUNDS STERLING     2012.876477   780.343953    995.161924   1209.961908
RIYAL               2013.971078    75.582264     75.722999     75.863896
RIYAL               2012.000000    41.291600     41.424900     41.558200
SDR                 2015.970385   451.076121    450.457796    451.189605
SDR\t               2012.000000   233.436000    234.189700    234.943400
SDR                 2012.000000   233.854650    234.609800    235.364900
SOUTH AFRICAN RAND  2020.458244    31.051592     31.077873     31.090860
SWISS FRANC         2014.801123   313.888787    314.413607    674.384190
SWISS FRANC\t       2012.000000   159.616600    160.131900    160.647300
US DOLLAR           2012.874844   269.006293    269.749351    270.050394
US DOLLAR           2012.000000   154.830000    155.330000    155.830000
WAUA                2012.858986   373.282400    746.800776   1120.506573
WAUA                2012.000000   233.331450    234.084900    234.838300
YEN                 2012.871731    15.932807      2.352550      2.379984
YEN                 2012.000000     1.974300      1.980667      1.987033
YUAN/RENMINBI       2017.889561    55.290183     55.367935     55.442541

In [9]:
df['Currency'].unique()

array(['CFA', 'YUAN/RENMINBI', 'DANISH KRONA', 'EURO', 'YEN', 'RIYAL',
       'SOUTH AFRICAN RAND', 'SDR', 'SWISS FRANC', 'POUNDS STERLING',
       'US DOLLAR', 'WAUA', 'POUND STERLING', 'DANISH KRONER',
       'JAPANESE YEN', 'US DOLLAR ', 'YEN ', 'CFA ', 'WAUA ', 'SDR ',
       'EURO\t', 'EURO ', 'RIYAL ', 'SWISS FRANC\t', 'SDR\t', 'NAIRA',
       'POESO'], dtype=object)

In [10]:
df.replace({'POUND STERLING':'POUNDS STERLING', 'DANISH KRONER':'DANISH KRONA','JAPANESE YEN':'YEN', 'US DOLLAR ':'US DOLLAR', 'YEN ':'YEN', 'CFA ':'CFA', 'WAUA ':'WAUA', 'SDR ':'SDR','EURO\t':'EURO', 'EURO ':'EURO', 'RIYAL ':'RIYAL', 'SWISS FRANC\t':'SWISS FRANC', 'SDR\t':'SDR'},inplace =True)
df['Currency'].unique()

array(['CFA', 'YUAN/RENMINBI', 'DANISH KRONA', 'EURO', 'YEN', 'RIYAL',
       'SOUTH AFRICAN RAND', 'SDR', 'SWISS FRANC', 'POUNDS STERLING',
       'US DOLLAR', 'WAUA', 'NAIRA', 'POESO'], dtype=object)

In [11]:
df.groupby('Currency').apply('mean',numeric_only =True)

                      Rate Year  Buying Rate  Central Rate  Selling Rate
Currency
CFA                 2012.861411     1.056152      1.050323      1.346583
DANISH KRONA        2015.976390    98.533557    129.105907    159.803224
EURO                2012.875045   312.744260    448.545533    766.149920
NAIRA               2009.750000    85.152500     85.451850     85.751188
POESO               2006.000000   176.156267    176.820967    177.485633
POUNDS STERLING     2012.875693   779.865125    994.491693   1209.100290
RIYAL               2013.970687    75.575472     75.716206     75.857101
SDR                 2015.967448   450.915311    450.298002    451.029828
SOUTH AFRICAN RAND  2020.458244    31.051592     31.077873     31.090860
SWISS FRANC         2014.800518   313.855481    314.380299    674.273279
US DOLLAR           2012.874687   268.985882    269.728897    270.029976
WAUA                2012.858678   373.232265    746.617106   1120.189299
YEN                 2012.871106    15.922807      2.352280      2.379698
YUAN/RENMINBI       2017.889561    55.290183     55.367935     55.442541

In [12]:
df_pv = pd.pivot_table(df, index= 'Rate Year', columns='Currency', values='Buying Rate')
df_pv

Currency,CFA,DANISH KRONA,EURO,NAIRA,POESO,POUNDS STERLING,RIYAL,SDR,SOUTH AFRICAN RAND,SWISS FRANC,US DOLLAR,WAUA,YEN,YUAN/RENMINBI
Rate Year,,,,,,,,,,,,,,
2000,NaN,53.104400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,0.152415,NaN,100.000000,NaN,NaN,161.940985,NaN,NaN,NaN,NaN,112.115385,139.658892,0.873754,NaN
2002,0.173478,NaN,113.763839,NaN,NaN,180.506688,NaN,NaN,NaN,NaN,120.004919,157.573182,0.962094,NaN
2003,0.963427,NaN,145.442671,NaN,NaN,9351.468134,NaN,NaN,NaN,NaN,128.410612,176.740677,1.110717,NaN
2004,0.223948,NaN,164.274336,NaN,251.2006,242.630631,35.107248,NaN,NaN,NaN,132.501800,195.849036,1.226108,NaN
2005,0.239120,NaN,162.689307,NaN,249.7428,237.747661,34.845331,NaN,NaN,99.026347,130.648724,192.568607,1.327935,NaN
2006,0.227630,NaN,158.821241,NaN,NaN,233.030476,33.692380,NaN,NaN,100.917884,126.373580,185.213687,1.086702,NaN
2007,0.239803,NaN,169.110906,NaN,NaN,247.438658,32.970789,NaN,NaN,103.154384,123.183000,188.387983,1.051541,NaN
2008,0.246275,1008.758260,171.715339,50.20290,NaN,215.870029,30.986221,184.539585,NaN,108.089779,116.204297,183.569831,1.130737,NaN
2009,0.295002,27.394645,204.245338,NaN,27.5254,229.366047,39.015343,225.774634,NaN,134.982427,146.314878,224.805526,1.564465,NaN
2010,0.279147,26.302112,196.187254,85.21284,NaN,228.479425,39.412125,225.459438,NaN,142.093917,147.809593,224.019458,1.688005,NaN
2011,0.302120,28.253278,210.587126,NaN,NaN,242.647682,40.344635,238.891842,NaN,171.362875,151.322675,238.178894,1.900382,24.603600
2012,0.284146,26.744088,199.182157,154.75000,NaN,245.535486,41.313478,236.474028,NaN,165.172481,154.941959,236.459235,85.632371,25.433172
2013,0.294026,27.551580,206.076486,NaN,NaN,242.100664,41.307030,234.361183,NaN,166.917984,157.440671,234.280820,1.587607,25.160689
2014,0.296887,27.792911,207.200510,NaN,NaN,256.933370,41.587671,236.487910,NaN,170.552094,155.952358,236.113506,1.471799,25.304280
2015,12.539674,28.595412,213.270397,NaN,NaN,294.332092,51.338031,268.790662,NaN,199.690809,192.611935,267.806858,1.591933,30.525035
2016,0.403601,37.475817,278.571849,NaN,NaN,337.608406,67.158548,349.282908,NaN,255.891501,252.234073,347.093639,229.382254,37.970474
2017,0.505118,46.252732,344.187141,NaN,NaN,392.530362,81.265787,422.549928,22.933845,309.525902,304.789139,421.681271,2.891500,45.081899
2018,0.530386,48.355824,360.396048,NaN,NaN,407.270215,81.339459,430.370503,23.202108,311.956314,305.080600,431.214174,2.762680,46.159569
2019,0.503127,47.436290,342.635948,NaN,NaN,390.736814,81.565067,422.629724,21.207750,307.838278,306.142975,421.952339,2.806123,44.235178
2020,0.567254,54.715989,407.713849,NaN,NaN,457.440528,94.840957,496.419153,21.710519,380.563056,356.431184,467.510143,3.338711,51.591058
2021,0.698893,63.289963,470.618909,NaN,NaN,547.700437,106.258249,566.651189,26.937615,435.614222,398.811792,566.496905,3.627256,61.484812
2022,0.659558,60.113586,445.473700,NaN,NaN,525.179403,113.038453,585.931674,25.924426,443.458197,422.841890,562.749377,3.235805,62.863583
2023,1.039696,93.807071,705.207100,NaN,NaN,809.611098,173.496785,873.863586,36.176616,728.034992,655.149127,874.618951,4.558886,90.559591
2024,3.096491,210.445391,1571.589440,NaN,NaN,1848.431832,384.402490,1919.375832,78.659373,1647.032009,1444.128754,1926.826411,9.590125,200.589636
2025,2.351450,238.747000,NaN,NaN,NaN,NaN,122.565800,NaN,NaN,1966.736300,NaN,NaN,NaN,NaN

In [13]:
df_pv = pd.pivot_table(df, index= 'Rate Year', columns='Currency', values='Buying Rate', aggfunc='sum')
df_pv

Currency,CFA,DANISH KRONA,EURO,NAIRA,POESO,POUNDS STERLING,RIYAL,SDR,SOUTH AFRICAN RAND,SWISS FRANC,US DOLLAR,WAUA,YEN,YUAN/RENMINBI
Rate Year,,,,,,,,,,,,,,
2000,NaN,53.1044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,1.9814,NaN,1300.0000,NaN,NaN,2.105233e+03,NaN,NaN,NaN,NaN,1457.5000,1815.5656,11.3588,NaN
2002,42.6757,NaN,27985.9043,NaN,NaN,4.440465e+04,NaN,NaN,NaN,NaN,29521.2100,38763.0027,236.6751,NaN
2003,236.0396,NaN,35633.4545,NaN,NaN,2.291110e+06,NaN,NaN,NaN,NaN,31460.6000,43301.4658,272.1257,NaN
2004,55.9871,NaN,41068.5840,NaN,251.2006,6.041503e+04,7618.2729,NaN,NaN,NaN,33125.4500,48962.2590,306.5271,NaN
2005,58.3453,NaN,39696.1909,NaN,249.7428,5.777268e+04,8432.5702,NaN,NaN,5050.3437,31747.6400,46986.7401,324.0161,NaN
2006,55.3142,NaN,38593.5615,NaN,NaN,5.662641e+04,8153.5560,NaN,NaN,24422.1280,30708.7800,45006.9260,264.0686,NaN
2007,55.1547,NaN,38895.5083,NaN,NaN,5.691089e+04,7550.3107,NaN,NaN,23622.3540,28332.0900,43329.2361,241.8545,NaN
2008,59.8449,201751.6521,42241.9734,100.4058,NaN,5.353577e+04,7715.5691,36907.9171,NaN,26698.1754,28934.8700,45708.8879,281.5534,NaN
2009,71.6856,6684.2933,49631.6172,NaN,27.5254,5.619468e+04,9636.7896,55766.3345,NaN,33205.6770,35993.4600,55526.9649,386.4228,NaN
2010,68.3911,6470.3195,48262.0644,426.0642,NaN,5.643442e+04,9734.7949,55688.4811,NaN,34955.1037,36361.1600,54884.7673,415.2493,NaN
2011,71.3004,6837.2932,51383.2588,NaN,NaN,5.872074e+04,9723.0570,57334.0420,NaN,41641.1786,36771.4100,57639.2924,461.7928,98.4144
2012,67.3427,6498.8135,48799.6285,154.7500,NaN,6.040173e+04,10121.8021,56990.2407,NaN,40302.0854,37960.7800,57459.5941,20380.5044,6180.2607
2013,72.9184,6832.7919,51313.0450,NaN,NaN,6.052517e+04,10202.8364,57887.2123,NaN,41228.7420,39202.7270,57867.3625,393.7266,6214.6901
2014,73.3312,6864.8489,51385.7265,NaN,NaN,6.346254e+04,10272.1548,58885.4896,NaN,42126.3672,38364.2800,58083.9224,363.5344,6199.5486
2015,3097.2994,7034.4713,52037.9768,NaN,NaN,7.270003e+04,12629.1557,65047.3401,NaN,49323.6298,47767.7600,65880.4870,391.6154,7570.2086
2016,100.0930,9219.0511,68528.6748,NaN,NaN,8.271406e+04,16521.0028,86622.1611,NaN,62693.4178,62554.0500,85732.1289,56657.4167,9340.7365
2017,124.7642,11424.4248,85014.2238,NaN,NaN,9.656247e+04,20153.9152,104792.3821,4930.7766,76762.4237,74368.5500,104576.9553,717.0920,11135.2290
2018,130.4750,11992.2444,89378.2199,NaN,NaN,1.018176e+05,20090.8464,106731.8847,5684.5164,77053.2096,76270.1500,106509.9011,676.8565,11401.4136
2019,121.2536,11574.4547,82917.8994,NaN,NaN,9.494905e+04,19738.7463,100585.8742,5195.8987,74804.7015,74086.6000,102956.3708,690.3062,10749.1483
2020,140.6791,13405.4174,99889.8929,NaN,NaN,1.125304e+05,23520.5573,121622.6925,5362.4983,93237.9487,87325.6400,116410.0255,821.3230,12742.9914
2021,164.9387,14999.7213,111536.6814,NaN,NaN,1.287096e+05,25289.4632,135429.6342,6276.4642,103240.5706,95714.8300,135392.7604,856.0325,14940.8093
2022,157.6343,14667.7149,108250.1091,NaN,NaN,1.286690e+05,27581.3826,139451.7385,6273.7110,108647.2583,102327.7373,136185.3492,783.0649,15024.3963
2023,253.6859,22419.8900,172070.5325,NaN,NaN,1.951163e+05,41812.7253,210601.1242,8863.2708,173272.3280,159856.3870,212532.4052,1103.2505,22005.9805
2024,582.1403,41668.1874,311174.7091,NaN,NaN,3.678379e+05,74958.4855,378117.0389,15417.2371,319524.2098,284493.3645,362243.3652,1908.4348,40117.9272
2025,4.7029,238.7470,NaN,NaN,NaN,NaN,122.5658,NaN,NaN,1966.7363,NaN,NaN,NaN,NaN

In [14]:
# check relationship between two columns
# To check the relationship between two columns
pd.crosstab(df['Rate Year'], df['Currency'])

Currency,CFA,DANISH KRONA,EURO,NAIRA,POESO,POUNDS STERLING,RIYAL,SDR,SOUTH AFRICAN RAND,SWISS FRANC,US DOLLAR,WAUA,YEN,YUAN/RENMINBI
Rate Year,,,,,,,,,,,,,,
2000,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2001,13,0,13,0,0,13,0,0,0,0,13,13,13,0
2002,246,0,246,0,0,246,0,0,0,0,246,246,246,0
2003,245,0,245,0,0,245,0,0,0,0,245,245,245,0
2004,250,0,250,0,1,249,217,0,0,0,250,250,250,0
2005,244,0,244,0,1,243,242,0,0,51,243,244,244,0
2006,243,0,243,0,0,243,242,0,0,242,243,243,243,0
2007,230,0,230,0,0,230,229,0,0,229,230,230,230,0
2008,243,200,246,2,0,248,249,200,0,247,249,249,249,0
2009,243,244,243,0,1,245,247,247,0,246,246,247,247,0
2010,245,246,246,5,0,247,247,247,0,246,246,245,246,0
2011,236,242,244,0,0,242,241,240,0,243,243,242,243,4
2012,237,243,245,1,0,246,245,241,0,244,245,243,238,243
2013,248,248,249,0,0,250,247,247,0,247,249,247,248,247
2014,247,247,248,0,0,247,247,249,0,247,246,246,247,245
2015,247,246,244,0,0,247,246,242,0,247,248,246,246,248
2016,248,246,246,0,0,245,246,248,0,245,248,247,247,246
2017,247,247,247,0,0,246,248,248,215,248,244,248,248,247
2018,246,248,248,0,0,250,247,248,245,247,250,247,245,247
2019,241,244,242,0,0,243,242,238,245,243,242,244,246,243
2020,248,245,245,0,0,246,248,245,247,245,245,249,246,247
2021,236,237,237,0,0,235,238,239,233,237,240,239,236,243
2022,239,244,243,0,0,245,244,238,242,245,242,242,242,239
2023,244,239,244,0,0,241,241,241,245,238,244,243,242,243
2024,188,198,198,0,0,199,195,197,196,194,197,188,199,200
2025,2,1,0,0,0,0,1,0,0,1,0,0,0,0

In [15]:
df['Rate Date'] = pd.to_datetime(df['Rate Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56319 entries, 0 to 56318
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rate Date     56319 non-null  datetime64[ns]
 1   Currency      56319 non-null  object
 2   Rate Year     56319 non-null  int64
 3   Rate Month    56319 non-null  object
 4   Buying Rate   56319 non-null  float64
 5   Central Rate  56319 non-null  float64
 6   Selling Rate  56319 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 3.0+ MB

In [16]:
# To select based on a specified value
df[df['Currency'] == 'US DOLLAR']

,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate
10,2024-10-21,US DOLLAR,2024,October,1639.340,1639.840,1640.340
13,2024-10-18,US DOLLAR,2024,October,1639.428,1639.928,1640.428
25,2024-10-17,US DOLLAR,2024,October,1651.727,1652.227,1652.727
35,2024-10-16,US DOLLAR,2024,October,1652.161,1652.661,1653.161
56,2024-10-15,US DOLLAR,2024,October,1654.685,1655.185,1655.685
...,...,...,...,...,...,...,...
56293,2001-12-14,US DOLLAR,2001,December,112.100,112.600,113.100
56296,2001-12-13,US DOLLAR,2001,December,111.850,112.350,112.850
56305,2001-12-12,US DOLLAR,2001,December,111.850,112.350,112.850
56308,2001-12-11,US DOLLAR,2001,December,111.850,112.350,112.850
56317,2001-12-10,US DOLLAR,2001,December,111.850,112.350,112.850

In [17]:
# To select based on comparisom
df[(df['Currency'] == 'US DOLLAR') &  (df['Selling Rate'] >= 200)]

,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate
10,2024-10-21,US DOLLAR,2024,October,1639.340,1639.840,1640.340
13,2024-10-18,US DOLLAR,2024,October,1639.428,1639.928,1640.428
25,2024-10-17,US DOLLAR,2024,October,1651.727,1652.227,1652.727
35,2024-10-16,US DOLLAR,2024,October,1652.161,1652.661,1653.161
56,2024-10-15,US DOLLAR,2024,October,1654.685,1655.185,1655.685
...,...,...,...,...,...,...,...
24171,2016-06-24,US DOLLAR,2016,June,280.000,280.500,281.000
24182,2016-06-23,US DOLLAR,2016,June,280.000,280.500,281.000
24193,2016-06-22,US DOLLAR,2016,June,280.500,281.000,281.500
24204,2016-06-21,US DOLLAR,2016,June,283.000,283.500,284.000
24215,2016-06-20,US DOLLAR,2016,June,279.000,279.500,280.000

In [21]:
df[(df['Currency'] == 'US DOLLAR') &  (df['Selling Rate'] >= 200) & (df['Rate Date'] >= pd.Timestamp(2024, 4, 1)) & (df['Rate Date'] <= pd.Timestamp(2024,6,30))]

,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate
960,2024-06-28,US DOLLAR,2024,June,1469.691,1470.191,1470.691
972,2024-06-27,US DOLLAR,2024,June,1512.735,1513.235,1513.735
984,2024-06-26,US DOLLAR,2024,June,1507.453,1507.953,1508.453
996,2024-06-25,US DOLLAR,2024,June,1498.368,1498.868,1499.368
1008,2024-06-24,US DOLLAR,2024,June,1488.455,1488.955,1489.455
1020,2024-06-21,US DOLLAR,2024,June,1479.518,1480.018,1480.518
1032,2024-06-20,US DOLLAR,2024,June,1482.311,1482.811,1483.311
1044,2024-06-19,US DOLLAR,2024,June,1478.807,1479.307,1479.807
1066,2024-06-14,US DOLLAR,2024,June,1473.590,1474.090,1474.590
1078,2024-06-13,US DOLLAR,2024,June,1477.148,1477.648,1478.148
1090,2024-06-11,US DOLLAR,2024,June,1472.650,1473.150,1473.650
1092,2024-06-10,US DOLLAR,2024,June,1480.646,1481.146,1481.646
1104,2024-06-07,US DOLLAR,2024,June,1447.465,1447.965,1448.465
1116,2024-06-06,US DOLLAR,2024,June,1484.822,1485.322,1485.822
1128,2024-06-05,US DOLLAR,2024,June,1480.171,1480.671,1481.171
1140,2024-06-04,US DOLLAR,2024,June,1473.919,1474.419,1474.919
1152,2024-06-03,US DOLLAR,2024,June,1473.777,1474.277,1474.777
1164,2024-05-31,US DOLLAR,2024,June,1482.482,1482.982,1483.482
1176,2024-05-30,US DOLLAR,2024,May,1474.190,1474.690,1475.190
1188,2024-05-29,US DOLLAR,2024,May,1196.113,1196.613,1197.113
1199,2024-05-28,US DOLLAR,2024,May,1327.040,1327.540,1328.040
1211,2024-05-27,US DOLLAR,2024,May,1381.893,1382.393,1382.893
1223,2024-05-24,US DOLLAR,2024,May,1480.119,1480.619,1481.119
1237,2024-05-23,US DOLLAR,2024,May,1478.694,1479.194,1479.694
1247,2024-05-22,US DOLLAR,2024,May,1467.183,1467.683,1468.183
1259,2024-05-21,US DOLLAR,2024,May,1445.781,1446.281,1446.781
1271,2024-05-20,US DOLLAR,2024,May,1481.375,1481.875,1482.375
1283,2024-05-17,US DOLLAR,2024,May,1500.337,1500.837,1501.337
1295,2024-05-16,US DOLLAR,2024,May,1529.867,1530.367,1530.867
1307,2024-05-15,US DOLLAR,2024,May,1491.580,1492.080,1492.580
1329,2024-05-14,US DOLLAR,2024,May,1501.636,1502.136,1502.636
1331,2024-05-13,US DOLLAR,2024,May,1406.560,1407.060,1407.560
1343,2024-05-10,US DOLLAR,2024,May,1456.514,1457.014,1457.514
1355,2024-05-09,US DOLLAR,2024,May,1439.148,1439.648,1440.148
1367,2024-05-08,US DOLLAR,2024,May,1414.099,1414.599,1415.099
1379,2024-05-07,US DOLLAR,2024,May,1412.073,1412.573,1413.073
1391,2024-05-06,US DOLLAR,2024,May,1381.660,1382.160,1382.660
1403,2024-05-03,US DOLLAR,2024,May,1382.065,1382.565,1383.065
1415,2024-05-02,US DOLLAR,2024,May,1441.083,1441.583,1442.083
1427,2024-04-30,US DOLLAR,2024,April,1329.205,1329.705,1330.205
1437,2024-04-29,US DOLLAR,2024,April,1373.146,1373.646,1374.146
1450,2024-04-26,US DOLLAR,2024,April,1326.850,1327.350,1327.850
1462,2024-04-25,US DOLLAR,2024,April,1164.343,1164.843,1165.343
1474,2024-04-24,US DOLLAR,2024,April,1329.440,1329.940,1330.440
1486,2024-04-23,US DOLLAR,2024,April,1277.026,1277.526,1278.026
1498,2024-04-22,US DOLLAR,2024,April,1251.087,1251.587,1252.087
1510,2024-04-19,US DOLLAR,2024,April,1149.660,1150.160,1150.660
1521,2024-04-18,US DOLLAR,2024,April,1160.131,1160.631,1161.131
1533,2024-04-17,US DOLLAR,2024,April,1118.485,1118.985,1119.485
1542,2024-04-16,US DOLLAR,2024,April,1146.529,1147.029,1147.529
1554,2024-04-15,US DOLLAR,2024,April,1160.714,1161.214,1161.714
1566,2024-04-12,US DOLLAR,2024,April,1138.133,1138.633,1139.133
1588,2024-04-08,US DOLLAR,2024,April,1237.679,1238.179,1238.679
1590,2024-04-05,US DOLLAR,2024,April,1246.165,1246.665,1247.165
1602,2024-04-04,US DOLLAR,2024,April,1250.700,1251.200,1251.700
1614,2024-04-03,US DOLLAR,2024,April,1259.990,1260.490,1260.990
1628,2024-04-02,US DOLLAR,2023,April,1329.756,1330.256,1330.756

In [25]:
df[(df['Currency'] == 'US DOLLAR') &  (df['Selling Rate'] >= 200) & (df['Rate Date'] >= pd.Timestamp(2024, 4, 1)) & (df['Rate Date'] <= pd.Timestamp(2024,6,30))].to_csv('Dollar_Srate200above_april_to_june_2024.csv', index=False)

In [30]:
df[(df['Currency'] == 'US DOLLAR') &  (df['Selling Rate'] >= 200) & (df['Rate Date'] >= pd.Timestamp(2024, 4, 1)) & (df['Rate Date'] <= pd.Timestamp(2024,6,30))].to_excel('Dollar_Srate200above_april_to_june_2024.xlsx', index=False, sheet_name= 'USD_SELLING_RATE')

In [28]:
# Alternate way to instll

# ! pip install xlsxwriter lxml

In [29]:
! pip install matplotlib seaborn plotly