In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('house_data.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
#To check for missing columns
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [4]:
missing_per = (df.isnull().sum()/len(df)) * 100
missing_count = df.isnull().sum()
total_missing = pd.concat([missing_count,missing_per],axis = 1)
total_missing = total_missing.sort_values(1, ascending=False)
total_missing.head(20)

                 0          1
PoolQC        1453  99.520548
MiscFeature   1406  96.301370
Alley         1369  93.767123
Fence         1179  80.753425
MasVnrType     872  59.726027
FireplaceQu    690  47.260274
LotFrontage    259  17.739726
GarageQual      81   5.547945
GarageFinish    81   5.547945
GarageType      81   5.547945
GarageYrBlt     81   5.547945
GarageCond      81   5.547945
BsmtFinType2    38   2.602740
BsmtExposure    38   2.602740
BsmtCond        37   2.534247
BsmtQual        37   2.534247
BsmtFinType1    37   2.534247
MasVnrArea       8   0.547945
Electrical       1   0.068493
Condition2       0   0.000000

In [5]:
df.drop(['PoolQC','MiscFeature','Alley','Fence'],axis = 1,inplace=True)

In [6]:
#forward fill method
#df.fillna(method = 'ffill',inplace = True)
#df.fillna(method = 'bfill',inplace = True)   BACKWARD FILL

In [7]:
#STATISCAL METHOD
numerical_data = df.select_dtypes(include = ['int','float'])
categorical_data = df.select_dtypes(include = ['category','object'])
for x in numerical_data:
    df[x].fillna(np.mean(df[x]), inplace = True)
for x in categorical_data:
    df[x].fillna(df[x].mode()[0], inplace = True)

C:\Users\LATITUDE E7470\AppData\Local\Temp\ipykernel_4920\929634984.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[x].fillna(np.mean(df[x]), inplace = True)
C:\Users\LATITUDE E7470\AppData\Local\Temp\ipykernel_4920\929634984.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[x].fillna(df[x].mode()[0], inplace = True)

In [8]:
missing_per = (df.isnull().sum()/len(df)) * 100
missing_count = df.isnull().sum()
total_missing = pd.concat([missing_count,missing_per],axis = 1)
total_missing = total_missing.sort_values(1, ascending=False)
total_missing.head(20)

              0    1
Id            0  0.0
MSSubClass    0  0.0
MSZoning      0  0.0
LotFrontage   0  0.0
LotArea       0  0.0
Street        0  0.0
LotShape      0  0.0
LandContour   0  0.0
Utilities     0  0.0
LotConfig     0  0.0
LandSlope     0  0.0
Neighborhood  0  0.0
Condition1    0  0.0
Condition2    0  0.0
BldgType      0  0.0
HouseStyle    0  0.0
OverallQual   0  0.0
OverallCond   0  0.0
YearBuilt     0  0.0
YearRemodAdd  0  0.0

In [10]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [11]:
#df.dropna(inplace = True)

In [3]:
df2 = pd.read_csv('exchange23102024.csv')
df2.head()

,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate
10/21/2024,CFA,2024,October,2.7121,2.7221,2.7321,NaN
10/21/2024,YUAN/RENMINBI,2024,October,230.4774,230.5477,230.6180,NaN
10/21/2024,DANISH KRONA,2024,October,238.5293,238.6020,238.6748,NaN
10/21/2024,EURO,2024,October,1779.1757,1779.7184,1780.2610,NaN
10/21/2024,YEN,2024,October,10.9311,10.9345,10.9378,NaN

In [4]:
df2.reset_index(inplace = True)
df2.head()

,index,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate
0,10/21/2024,CFA,2024,October,2.7121,2.7221,2.7321,NaN
1,10/21/2024,YUAN/RENMINBI,2024,October,230.4774,230.5477,230.6180,NaN
2,10/21/2024,DANISH KRONA,2024,October,238.5293,238.6020,238.6748,NaN
3,10/21/2024,EURO,2024,October,1779.1757,1779.7184,1780.2610,NaN
4,10/21/2024,YEN,2024,October,10.9311,10.9345,10.9378,NaN

In [5]:
df2.columns

Index(['index', 'Rate Date', 'Currency', 'Rate Year', 'Rate Month',
       'Buying Rate', 'Central Rate', 'Selling Rate'],
      dtype='object')

In [6]:
df2.rename({'index':'Rate Date', 'Rate Date':'Currency', 'Currency':'Rate Year', 'Rate Year':'Rate Month', 'Rate Month':'Buying Rate','Buying Rate':'Central Rate', 'Central Rate':'Selling Rate', 'Selling Rate':'Uknown'},axis = 1,inplace = True)
df2.head()

,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate,Uknown
0,10/21/2024,CFA,2024,October,2.7121,2.7221,2.7321,NaN
1,10/21/2024,YUAN/RENMINBI,2024,October,230.4774,230.5477,230.6180,NaN
2,10/21/2024,DANISH KRONA,2024,October,238.5293,238.6020,238.6748,NaN
3,10/21/2024,EURO,2024,October,1779.1757,1779.7184,1780.2610,NaN
4,10/21/2024,YEN,2024,October,10.9311,10.9345,10.9378,NaN

In [7]:
df2.drop('Uknown',axis = 1,inplace = True)
df2.head()

,Rate Date,Currency,Rate Year,Rate Month,Buying Rate,Central Rate,Selling Rate
0,10/21/2024,CFA,2024,October,2.7121,2.7221,2.7321
1,10/21/2024,YUAN/RENMINBI,2024,October,230.4774,230.5477,230.6180
2,10/21/2024,DANISH KRONA,2024,October,238.5293,238.6020,238.6748
3,10/21/2024,EURO,2024,October,1779.1757,1779.7184,1780.2610
4,10/21/2024,YEN,2024,October,10.9311,10.9345,10.9378

In [ ]:
df2.drop('level_0',axis = 1,inplace = True)
df2.head()

In [10]:
df2.mean(numeric_only=True)

Rate Year       2014.105329
Buying Rate      250.144443
Central Rate     322.886022
Selling Rate     444.673222
dtype: float64

In [16]:
df2.groupby('Currency').apply('mean', numeric_only=True)

                      Rate Year  Buying Rate  Central Rate  Selling Rate
Currency
CFA                 2012.861721     1.056433      1.050599      1.346962
CFA                 2012.000000     0.273850      0.283850      0.293850
DANISH KRONA        2018.198050    58.716175     58.795048     59.044789
DANISH KRONER       2009.925824   206.973934    320.593541    434.213102
EURO                2012.875358   312.787439    448.637129    766.355049
EURO\t              2012.000000   192.491000    193.112500    193.734000
EURO                2012.000000   191.887000    192.506600    193.126100
JAPANESE YEN        2012.000000     1.952600      1.958900      1.965200
NAIRA               2009.750000    85.152500     85.451850     85.751188
POESO               2006.000000   176.156267    176.820967    177.485633
POUND STERLING      2012.000000   244.918360    245.709460    246.500520
POUNDS STERLING     2012.876477   780.343953    995.161924   1209.961908
RIYAL               2013.971078    75.582264     75.722999     75.863896
RIYAL               2012.000000    41.291600     41.424900     41.558200
SDR                 2015.970385   451.076121    450.457796    451.189605
SDR\t               2012.000000   233.436000    234.189700    234.943400
SDR                 2012.000000   233.854650    234.609800    235.364900
SOUTH AFRICAN RAND  2020.458244    31.051592     31.077873     31.090860
SWISS FRANC         2014.801123   313.888787    314.413607    674.384190
SWISS FRANC\t       2012.000000   159.616600    160.131900    160.647300
US DOLLAR           2012.874844   269.006293    269.749351    270.050394
US DOLLAR           2012.000000   154.830000    155.330000    155.830000
WAUA                2012.858986   373.282400    746.800776   1120.506573
WAUA                2012.000000   233.331450    234.084900    234.838300
YEN                 2012.871731    15.932807      2.352550      2.379984
YEN                 2012.000000     1.974300      1.980667      1.987033
YUAN/RENMINBI       2017.889561    55.290183     55.367935     55.442541